<h1 class= "title">Stupid Coaching</h1>
<div class="convo">
<h3> <%= @ask %> </h3> <p> -You </p>
<br>

</div>

<div class="convo" id="second">
<h3> <%= @answer %></h3> <p>-Stupid Coach</p>
<br>

</div>

<p class="link"><%=  link_to "Ask another question", ask_path  %></p>
