// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: white;
  padding-left: 20px;
}

p {
  font-style: normal;
  font-weight: lighter;
  font-family: Helvetica;
  padding-left: 10px;
}

.title {
  font-size: 38px;
  font-family: sans-serif;
  color: blue;
}

.convo {
// padding: 1px;
background: #ddd9d9;
color: black;
box-shadow: 2px 8px #888888;

}

.convo h3 {
font-weight: lighter;
font-size: 24px;
padding-left: 10px;
}

.link a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.link a:hover {
background-color: red;
color: black;
}

#second {
  background: #e5f4c1;
}
